# Azure AI Foundry settings
AZURE_FOUNDRY_PROJECT_ENDPOINT=
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME=
AZURE_AI_AGENT_API_VERSION=
AZURE_AI_AGENT_ID=

# For service principal (required by DefaultAzureCredential in production)
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# Databricks settings
DATABRICKS_ENTRA_ID_AUDIENCE_SCOPE=

# 應用程式設定
PORT=
HOST=
APP_ENV=